{% extends 'blog/base.html' %}
{% block content %}
    <div class="comment">
<!--         {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %} -->
        

        <!-- <h2 class = "text-secondary">Title:</h2><h3>{{ comment.title }}</h3> -->
        
        <h2 class = "text-secondary" >Written by:</h2><h3>{{comment.pen_name}}</h3>
        <p>{{comment.text|linebreaksbr }}</p>
        
<!--         <h2 class = "text-secondary">Rating(0-9)</h2><h3>{{post.rating}}</h3>
 -->        
        <a class="btn btn-outline-secondary" href="{% url 'comment_edit' pk=comment.pk key=comment.key  %}"><i class="fas fa-pencil-alt"></i>Edit</a>
        <p></p>
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
            <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_twitter"></a>
            <a class="a2a_button_email"></a>
        </div>
        <hr>
    </div>
{% endblock %}